html {
    font-size: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

header {
    background: #CCCCCC;
}

.titulo-principal {
    padding-left: 1rem;
    margin: 0;
    font-size: 3em;
}

#banner {
    width: 100%;
    display: block;
}

.principal {
    background: #CCCCCC;
    padding: 1.5rem 3.8rem;
}

.titulo-centralizado {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1em;
}

#destaque-nome {
    font-size: 1.6rem;
}

p {
    text-align: justify;
    font-size: 1.6rem;
}

#missao {
    font-size: 1.6rem;
    padding: 0.5rem 0;
}

em {
    font-style: normal;
    font-size: 1.6rem;    
}

em strong {
    font-style: italic;
    color: black;
    font-size: 1.6rem;
}

.beneficios {
    background: linear-gradient(#CCCCCC, #ffffff);
    padding: 2rem;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
    font-size: 1.6rem;
}

.imagem-beneficios {
    width: 50vw;
}
